<html>
    <head>
        <style>
            body {
                text-align: center;
                }
        </style>
    </head>
    <body>
        <h1> Fenrisúlfr </h1>
        <img src="/assets/fenris.png" width="40%">

        <p>API can be found <a href="/api/v1">here</a></p>
    </body>
</html>
